:root {
    --md-primary-fg-color: #ff7a04;
    --md-accent-fg-color: #ff004d;
}

.md-typeset .task-list-control [type="checkbox"]:checked + .task-list-indicator::before {
    background: var(--md-primary-fg-color) !important;
}
